# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build
dist/
build/

# Environment variables
.env

# Temp files
tmp/
temp/

# OS & IDE files
.DS_Store
.vscode/
.idea/
*.swp
*.suo
*.njsproj
*.sln

# Database / uploads (optional - agar local upload ho raha ho)
uploads/
*.sqlite
